@import 'variables';
@import 'fonts';
@import 'animations';



.container {
  margin-bottom: 10px;
  font-family: "Avenir Next";
  overflow: hidden;
}

.container:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.bubble {
    overflow: hidden;
    margin-bottom: 5px;
    width: auto;
    height: auto;
    max-width: 90%;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    white-space: pre-line;
}

.bubble.left {
    border-radius: 13px 13px 13px 2px;
    box-shadow: 0 -1px 12px 0 #EEEEEE;
    background-color: $vue-white;
    color: $vue-gray;
    float: left;
}

.bubble.right {
    border-radius: 13px 2px 13px 13px;
    box-shadow: 0 -1px 12px 0 #EEEEEE;
    background-color: $vue-light-blip;
    color: $vue-white;
    float: right;
}

.notification {
  font-size: 10px;
  color: $vue-light-gray;
  line-height: 14px;
  clear: both;
}

.notification.left {
  float: left;
}

.notification.right {
  float: right;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

.left a {
  color: $vue-light-blip;
}

.left a:visited {color: $vue-light-blip;}  /* visited link */
.left a:hover {color: $vue-light-blip;}  /* mouse over link */
.left a:active {color: $vue-light-blip;}  /* selected link */

.right a {
 font-weight: bold;
 color: $vue-white;
}

.right a:visited {color: $vue-white;}  /* visited link */
.right a:hover {color: $vue-white;}  /* mouse over link */
.right a:active {color: $vue-white;}  /* selected link */

.fixed-options {
  a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    clear: both;
    margin: 0;
    margin-top: 15px;
    padding: 0px;
  }

  li {
    cursor: pointer;
    text-align: center;
    padding: 10px;
    margin: 2px;
    font-size: 14px;
    font-weight: 500;
  }

  ul {
    margin-left: -16px;
    margin-right: -16px;
  }
}

.left .fixed-options li {
  color: $vue-light-blip;
  border-top: 0.5px solid #e4e2e2;
}

.right .fixed-options li {
  color: $vue-white;
  border-top: 0.5px solid $vue-white;
}

.header {
  .ratio1-1 {
    overflow: hidden;
    position: relative;

    &:before {
      content: '';
      display: block;
      padding-top: 100%; // ratio 1:1
    }
  }

  .ratio2-1 {
    overflow: hidden;
    position: relative;

    &:before {
      content: '';
      display: block;
      padding-top: 50%; // ratio 2:1
    }
  }

  img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

  .title {
    strong {
      color: $vue-dark-gray;
      display: block;
    }

    margin: 0;
    padding: 10px 20px;
  }
}
