@import 'variables';
@import 'animations';
@import 'utils';
@import 'simple-scrollbar';

* {
  font-family: 'Nunito Sans', sans-serif;
}

.flex {
  display: flex;
}

.failure {
  color: $color-extended-red;
  font-size: 10px;
  margin-right: 5px;

  img {
    margin: 0;
    height: 13px;
  }
}

.blip-container {
  margin-bottom: 10px;
  width: 100%;
  position: relative;

  text-align: center;
   > div:not(.bubble) {
    text-align: center;
  }
}

.blip-card-container {
  width: 100%;
  font-size: 16px;
}

.blip-card {
  width: 100%;

  *, ::after, ::before {
    box-sizing: border-box;
  }

  .bubble {
      position: relative;
      margin-bottom: 5px;
      width: auto;
      height: 100%;
      max-width: 90%;
      min-width: 160px;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      white-space: pre-line;
      border: 1px solid $color-content-ghost;
  }

  .bubble.left {
      border-radius: 13px 13px 13px 2px;
      background-color: $color-surface-1;
      color: $color-content-default;
      float: left;
      .typo{
        color: $color-content-default;
      }
      .typo-light{
        color: $color-content-ghost;
      }
  }

  .bubble.middle {
    border-radius: 13px 13px 13px 13px;
    background-color: $color-surface-1;
    color: $color-content-default;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  }


  .ratio {
    border-radius: 0
  }

  .bubble.right {
      border-radius: 13px 2px 13px 13px;
      background-color: $color-content-default;
      color: $color-surface-1;
      float: right;
      .typo{
        color: $color-surface-1;
      }      
      .typo-light{
        color: $color-surface-2;
      }
  }

  .notification {
    font-size: 10px;
    color: $color-content-disable;
    line-height: 14px;
    clear: both;
  }

  .notification.left {
    float: left;
  }

  .notification.right {
    float: right;
  }

  a {
    cursor: pointer;
    text-decoration: underline;
  }

  .left a {
    color: $color-primary;
  }

  .middle a {
    color: $color-primary;
  }

  .right a {
  font-weight: bold;
  color: $color-primary;
  }

  form {
    .fixed-options {
      li span { margin-left: 17px }
    }
  }

  .fixed-options {
    a {
      text-decoration: none;
    }

    ul {
      list-style-type: none;
      clear: both;
      margin: 0;
      margin-top: 15px;
      padding: 0px;
    }

    li {
      cursor: pointer;
      text-align: center;
      align-items: center;
      padding: 10px;
      margin: 2px;
      font-size: 16px;
      font-weight: 500;
      word-break: break-word;
      display: flex;

      div, span {
        width: 100%;
        text-align: center;
      }

      .remove-option {
        color: $color-primary;
        width: 17px;
        text-align: right;
        margin-left: 0;
        visibility: hidden;
      }

      &:hover {
        .remove-option { visibility: visible; }
      }
    }

    ul {
      margin-left: -16px;
      margin-right: -16px;
    }
  }

  .left .fixed-options li, .middle .fixed-options li {
    color: $color-content-default;
    border-top: 0.5px solid $color-content-ghost;
  }

  .right .fixed-options li {
    color: $color-surface-2;
    border-top: 0.5px solid $color-content-ghost;
  }

  .header {
    overflow: hidden;
    border-radius: inherit;

    .ratio {
      background-size: cover;
      background-position: center center;
    }

    .ratio1-1 {
      overflow: hidden;

      &:before {
        content: '';
        display: block;
        padding-top: 100%; // ratio 1:1
      }
    }

    .ratio2-1 {
      overflow: hidden;

      &:before {
        content: '';
        display: block;
        padding-top: 50%; // ratio 2:1
      }
    }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }

    .title {
      text-align: left;
      strong {
        display: block;
      }

      margin: 0;
      padding: 10px 20px;
    }
  }

  .saveIco,
  .editIco { cursor: pointer; }

  .editIco {
    padding: 3px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    display: none;
    top: -24px;
    right: -65px;
    z-index: 1;
  }

  .saveIco {
    z-index: 1;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    top: -25px;
    right: -57px;
  }

  .saveIco img {
    display: inline-block;
    vertical-align: middle;
  }

  .editIco img {
    display: inline-block;
    vertical-align: middle;
  }

  .closeIco {
    right: -10px;
  }

  .trashIco {
    right: -17px;
  }

  .form-group {
    margin-bottom: 0.3rem;
    padding: $bubble-padding;
    color: $color-content-default;
    .input-error {
      color: $color-error;
    }
    .help {
      padding: 5px;
      font-size: 11px;
    }
    ::-webkit-input-placeholder {
      color: $color-content-ghost;
      font-size: 12px;
    }
    ::-moz-placeholder {
      color: $color-content-ghost;
      font-size: 12px;
    }
    :-ms-input-placeholder {
      color: $color-content-ghost;
      font-size: 12px;
    }
    :-moz-placeholder {
      color: $color-content-ghost;
      font-size: 12px;
    }
  }

  .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    color: $color-content-default;
    background-color: $color-surface-1;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid $color-content-ghost;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

  form {
    display: block;
    margin-top: 0em;
    padding: 10px;
    width: 300px;
  }

  .form-check {
    color: $color-content-default;
    position: relative;
    display: block;
    margin-bottom: .5rem;
  }

  .form-check-input {
    position: absolute;
    margin-top: .25rem;
    margin-left: -1.25rem;
  }

  .form-check-label {
    padding-left: 1.25rem;
    margin-bottom: 0;
    display: inline-block;
  }

  .input-error {
    border-color: $color-error;
  }

  input:focus, textarea:focus {
    outline: none !important;
  }

  .input-error:invalid {
    border-color: $color-error;
  }

  .help.input-error {
    color: $color-error;
  }

  .is-disabled {
    opacity: .5;
    pointer-events: none;
  }

  .text-center {
    text-align: center;
  }

  .text-left {
    text-align: left;
  }


  .dashed-border {
    border: 1px dashed $color-content-ghost;
  }

  .primary-color {
    color: $color-primary;
  }

  .delete-color {
    color: $color-delete;
  }

  .color-gray {
    color: $color-content-ghost;
  }

  .btn {
    padding: 5px;
    border: 0;
    cursor: pointer;
  }

  .btn-white {
    padding: 10px;
    border-radius: 6px;
    background-color: $color-surface-1;
    border: 1px solid $color-primary;
  }

  .btn-dashed {
    padding: 10px;
    border-radius: 6px;
    border: 1px dashed $color-primary;
  }

  .w-49 {
    width: 49%;
  }

  /* The Modal (background) */
  .modal {
    transition: all 0.5s ease;
    position: absolute;
    display: block;
    z-index: 2
  }

  .tabs {
    color: $color-content-default;
    font-weight: bold;
    margin: 10px;
    margin-bottom: 20px;
  }

  .tabs span {
    padding: 5px;
    cursor: pointer;
  }

  .tabs .active {
    border-bottom: 4px solid $color-primary;
  }

  .line {
    background-color: $color-content-disable;
    width: 100%;
    height: 1px;
    margin: 10px 0;
  }

  video {
    border-radius: 13px 13px 13px 2px !important;
  }

  .form-group {
    padding: 10px;
    color: $vue-london;

    .textarea {
      margin-top: 10px;
    }
    .input-error {
      color: $vue-delete;
    }
    .upload-intructions {
      color: $color-content-disable;
      padding: 5px;
      padding-bottom: 0px;
      font-size: 12px;
    }
    ::-webkit-input-placeholder {
      color: $color-content-ghost;
      font-size: 12px;
    }
    ::-moz-placeholder {
      color: $color-content-ghost;
      font-size: 12px;
    }
    :-ms-input-placeholder {
      color: $color-content-ghost;
      font-size: 12px;
    }
    :-moz-placeholder {
      color: $color-content-ghost;
      font-size: 12px;
    }
  }

  .blip-card-flex {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }

  .flex-item {
    button {
      width: 100%;
    }

    padding: 5px;
    text-align: center;
    flex: 1;
  }
}

.blip-container:hover > .editIco {
  display: block;
}

.blip-container:hover > div > .editIco {
  display: block;
}

.blip-container:hover > div > div > .editIco {
  display: block;
}

.blip-container:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.blip-bubble .blip-card:first-child .bubble.left {
  background-color: black;
}

.pointer {
  cursor: pointer;
}

.define-metadata {
  color: #2cc3d5;
  font-size: 12px;
  margin: 0;
  float: right;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;

  &:hover {
    color: #15afb2;
  }

  &:focus {
    outline:0;
  }
}

.disable-selection {
  -webkit-user-select: none;
}
.icon-button-margin {
  margin-right: 10%;
}
.icon-button-top {
  top: -30px !important;
}


