@font-face {
    font-family: 'Avenir Next';
    src: url('../assets/fonts/AvenirNextLTPro-Demi.eot') format('embedded-opentype'),  url('../assets/fonts/AvenirNextLTPro-Demi.otf')  format('opentype'),
           url('../assets/fonts/AvenirNextLTPro-Demi.woff') format('woff'), url('../assets/fonts/AvenirNextLTPro-Demi.ttf')  format('truetype'), url('../assets/img/AvenirNextLTPro-Demi.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../assets/fonts/AvenirNextLTPro-Medium.eot') format('embedded-opentype'),  url('../assets/fonts/AvenirNextLTPro-Medium.otf')  format('opentype'),
           url('../assets/fonts/AvenirNextLTPro-Medium.woff') format('woff'), url('../assets/fonts/AvenirNextLTPro-Medium.ttf')  format('truetype'), url('../assets/img/AvenirNextLTPro-Medium.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../assets/fonts/AvenirNextLTPro-Regular.eot') format('embedded-opentype'),  url('../assets/fonts/AvenirNextLTPro-Regular.otf')  format('opentype'),
           url('../assets/fonts/AvenirNextLTPro-Regular.woff') format('woff'), url('../assets/fonts/AvenirNextLTPro-Regular.ttf')  format('truetype'), url('../assets/img/AvenirNextLTPro-Regular.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

