$vue-dark-gray: #52636C;
$vue-gray: #738192;
$vue-light-gray: #A7BEC3;
$vue-white: #FFFFFF;
$vue-black: #000000;

$vue-bot: #2CC3D5;
$vue-light-blip: #0CC8CC;
$vue-dark-blip: #15AFB2;
$vue-warning: #F76556;
$vue-delete: #FB7A6D;
$vue-true: #4DCB7B;
$vue-city: #52636C;
$vue-rooftop: #738192;
$vue-desk: #607B99;
$vue-cloud: #8CA0B3;
$vue-silver: #94A3AB;
$vue-time: #A8BFC4;
$vue-breeze: #C9DFE4;
$vue-sky: #DAF2F4;

$vue-cotton: #EEEEEE;
$vue-paper: #FAF9F8;
$vue-london: #A7BEC3;
$vue-neon-blip: #41E1E4;
$vue-main-color: #3F7DE8;

$vue-black-transparent: rgba(0,0,0,0.7);
$vue-black-transparent-soft: rgba(0,0,0,0.4);


$bubble-padding: 10px 16px;
$bubble-width: 500px;
